{% extends 'base.html.twig' %}

{% block title %}EuroPlant{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1>Liste des commandes</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-8">
            {% if commandes is empty %}
                <p>Aucune commande</p>
            {% else %}
                <table class="table table-striped display" id="table_id">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date de la commande</th>
                                <th scope="col">Utilisateur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if app.user.getRoles() == ['ROLE_ADMIN','ROLE_USER'] %}
                                {% for commande in commandes %}
                                    <tr>
                                        <td><a href="{{ path('commande', {commandeId: commande.id}) }}">{{ commande.date|date("d/m/Y h:i:s") }}</a></td>
                                        <td>{{ commande.user.email }}</td>
                                    </tr>
                                {% endfor %}
                            {% elseif app.user.getRoles() == ['ROLE_USER'] %}
                                {% for commande in commandes %}
                                    {% if app.user.getId() == commande.user.getId() %}
                                        <tr>
                                            <td><a href="{{ path('commande', {commandeId: commande.id}) }}">{{ commande.date|date("d/m/Y h:i:s") }}</a></td>
                                            <td>{{ commande.user.email }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
            {% endif %}
        </div>
    </div>

    <script>
$(document).ready( function () {
    $('#table_id').DataTable({
        "language": {
            "lengthMenu": "Affichage de _MENU_ résultats par page",
            "zeroRecords": "Nothing found - sorry",
            "info": "Affichage page _PAGE_ à  _PAGES_",
            "infoEmpty": "Pas de résultats",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Rechercher",
            "paginate": {
                 "next": "Suivant",
                 "previous": "Précédent"
             }
        }
    });
} );

</script>

{% endblock %}
