{% extends 'base.html.twig' %}

{% block title %}EuroPlant - {{ catalogue.nom }}{% endblock %}

{% block body %}


  <!--Main layout-->
  <main class="my-5">
  
    <div class="container">
    
      <!--Section: Content-->
      <section class="text-center">
       <h4 class="mb-4"><strong>Catalogue : </strong> {{ catalogue.nom }}  </h4>
      {% if app.user.getRoles() == ['ROLE_ADMIN','ROLE_USER'] %}
        <a  href="{{ path('update_catalogue', {id: catalogue.id})}}" class="btn btn-primary">Modifier</a>
        <a  href="{{ path('delete_catalogue', {id: catalogue.id})}}" class="btn btn-primary">Supprimer</a>
      {% endif %}
          <p class="mt-4">{{ catalogue.description }}</p>
        <div class="row mt-5">
         {% for produit in catalogue.produits %}

          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card" style="border: solid 1px">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ produit.nom }}</h5>
                <p class="card-text">
                  {{ produit.description }}
                </p>
                <a href="{{ path('produit', {produitName: produit.nom}) }}" class="btn btn-primary">Accéder au produit</a>
              </div>
            </div>
          </div>
          

        {% endfor %}

        </div>



      </section>
      <!--Section: Content-->


    </div>
  </main>
  <!--Main layout-->

  
{% endblock %}
